*{
	margin:0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}


.warp{
	margin: 0px auto;
	width:200px;
	height: 140px;
	position: relative;
}



.ul{
	font-size: 0px;
	position: absolute; 	
	width: 200px;
	right:0px;
	bottom: 5px;
	text-align: center;
}
.ul li{
	border-radius:50%;
	margin: 0px 2px;
	font-size:20px;
	text-align:center;
	width: 20px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	display: inline-block;
	overflow:hidden;
}
.ul_1{
	width:200px;
	height: 140px;
	position: absolute;
}


.ul_1 li{
	width:200px;
	height: 140px;
	position: absolute;
	display: none;
}
.back{
	background:red;
	color: green;
}



.ul_1 img{
	width:200px;
	height: 140px;
	position: absolute;
}




.left{
	display: none;
	position: absolute;
	width:30px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #cccc;
	font-size:30px;
	color: wheat;
	left: 0px;
	top: 50%;
	margin-top:-30px;
	cursor: pointer;
	background: #CCCCCC;
}
.right{
	display: none;
	text-align: center;
	line-height: 60px;
	position: absolute;
	width:30px;
	height: 60px;
	background: #cccc;
	font-size:30px;
	color: wheat;
	right: 0px;
	top: 50%;
	margin-top:-30px;
	cursor: pointer;
	background: #CCCCCC;
}
.warp:hover .left{
	display: block;
	opacity: 0.8;
}
.warp:hover .right{
	display: block;
	opacity: 0.8;
}
.img{
	width: 300px;
	height:300px;
	overflow: hidden;
}
.img img:hover{
	transform:scale(1.2);
	transition:transform 0.35s;
}











